<div ng-controller="dashboardController">
	<div>
		<nav-bar></nav-bar>



		<!-- First main content -->
		<div class="container text-center py-md-6">
			<div class="lc-block card border-0 text-center rounded p-4 p-lg-6"
				style="background:url(https://cdn.livecanvas.com/media/backgrounds/fffuelco/bbblurry.svg)  center / cover no-repeat;">
				<div class="row card-body mb-3 mb-lg-4">
					<div class="col-xl-11 col-xxl-9 mx-auto">
						<div class="lc-block mb-4">
							<div editable="rich">
								<p class="text-black-50">JOIN OUR COMMUNITY</p>
							</div>
						</div>
						<div class="lc-block">
							<h3 editable="inline" class="fw-bold display-6">We are <span
									class="lc-block position-relative">trusted
									<img class="position-absolute top-100 start-0 mt-n1 img-fluid"
										src="https://cdn.livecanvas.com/media/underline/underline1.svg"></span> by over
								5000+ clients. Join
								them now and grow your business.</h3>
						</div>
					</div>
				</div>
				<div class="lc-block"><a class="btn btn-primary btn-lg" href="#" role="button">Get Started</a></div>
			</div>
		</div>


		<!-- categories -->
		<div>


			<div class="container py-4 py-md-6">
				<div class="row mb-6">
					<div class="lc-block">
						<div editable="rich">
							<h3 editable="inline" class="fw-bold display-6"><span class="lc-block position-relative">Categories : <img class="position-absolute top-100 start-0 mt-n1 img-fluid" src="https://cdn.livecanvas.com/media/underline/underline3.svg"></span> </h3>
						</div>
					</div>
					<div class="lc-block my-2">
						<div editable="rich">
							<h3 class="display-6">Explore ixoQuiz 10+ Amazing Categories..
							</h3>
						</div>
					</div>
					<div class="lc-block">
						<div editable="rich">
							<p class="lead">We bring solutions to make life easier for our customers.</p>
						</div>
					</div>
				</div>
				<div class="row row-cols-2 row-cols-md-3 row-cols-xl-5 g-4 g-xl-5 py-3 justify-content-center">
					<div class="col">
						<div class="card shadow h-100 align-items-center">
							<div class="card-body align-items-center justify-content-center d-flex py-6 ixocategories">
								<!-- <img class="col-10" src="https://cdn.livecanvas.com/media/logos/1.png" alt=""> -->
								<h4 ng-click="openApp('quiz')">Quiz</h4>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="card shadow h-100 align-items-center">
							<div class="card-body align-items-center justify-content-center d-flex py-6">
								<img class="col-10" src="https://cdn.livecanvas.com/media/logos/2.png" alt="">
							</div>
						</div>
					</div>
					<div class="col">
						<div class="card shadow h-100 align-items-center">
							<div class="card-body align-items-center justify-content-center d-flex py-6">
								<img class="col-10" src="https://cdn.livecanvas.com/media/logos/3.png" alt="">
							</div>
						</div>
					</div>
					<div class="col">
						<div class="card shadow h-100 align-items-center">
							<div class="card-body align-items-center justify-content-center d-flex py-6">
								<img class="col-10" src="https://cdn.livecanvas.com/media/logos/4.png" alt="">
							</div>
						</div>
					</div>
					<div class="col">
						<div class="card shadow h-100 align-items-center">
							<div class="card-body align-items-center justify-content-center d-flex py-6">
								<img class="col-10" src="https://cdn.livecanvas.com/media/logos/5.png" alt="">
							</div>
						</div>
					</div>
				</div>

			</div>



		</div>


		<footer-bar></footer-bar>



	</div>
</div>