<!-- footer -->
<footer class="pt-lg-10 pt-5 footer bg-white">
  <div class="container">
    <div class="row border-top">
      <div class="col-lg-4 col-md-6 col-12">
        <!-- about company -->
        <div class="mb-4">
          <!-- need to place logo image here ..  -->
          <!-- <img src="../../assets/svg/underline.svg" alt="" class="logo-inverse"> -->
           <h3>INFOxODIA</h3>
          <div class="mt-4">
            <p>Jay Jagannath ! We are like a fimily, Join us and let explore our culture together</p>
            <!-- social media -->
            <div class="fs-5 mt-4">
              <!--Facebook-->
              <a href="#" class="me-2">
                <i class="bi bi-facebook"></i>
              </a>
              <!--Instagram Thread-->
              <a href="#" class="me-2">
                <i class="bi bi-instagram"></i>
              </a>

              <!--Instagram-->
              <a href="#" class="me-2">
                <i class="bi bi-threads-fill"></i>
              </a>

              <!--Twitter X-->
              <a href="#" class="me-2">
                <i class="bi bi-twitter-x"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="offset-lg-1 col-lg-2 col-md-3 col-6">
        <div class="mb-4">
          <!-- list -->
          <h3 class="fw-bold mb-3">Company</h3>
          <ul class="list-unstyled nav nav-footer flex-column nav-x-0">
            <li><a href="{{homePageUrl}}about" class="nav-link">About</a></li>
            <!-- <li><a href="#" class="nav-link">Contact</a></li> -->
            <!-- <li><a href="#" class="nav-link">Blog</a></li>
            <li><a href="#" class="nav-link">Careers</a></li> -->
            <li><a href="{{homePageUrl}}contact" class="nav-link">Contact</a></li>
            <li><a href="{{homePageUrl}}ixo-faq" class="nav-link">FAQ’s</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-6">
        <div class="mb-4">
          <!-- list -->
          <h3 class="fw-bold mb-3">Products</h3>
          <ul class="list-unstyled nav nav-footer flex-column nav-x-0">
            <!-- <li><a href="#" class="nav-link">Help and Support</a></li>
            <li><a href="#" class="nav-link">Become Instructor</a></li> -->
            <!-- <li><a href="#" class="nav-link">Get the app</a></li> -->
            <li><a href="{{homePageUrl}}quiz" class="nav-link">IXO QUIZ</a></li>
            <!-- <li><a href="#" class="nav-link">Tutorial</a></li> -->
          </ul>

        </div>
      </div>
      <div class="col-lg-3 col-md-12">
        <!-- contact info -->
        <div class="mb-4">
          <h3 class="fw-bold mb-3">Get in touch</h3>
          <p>Please mail us on below Mail id for support and conact</p>
          <p class="mb-1">Email: <a href="mailto:infoxodia@gmail.com">infoxodia@gmail.com</a></p>
          <!-- <p>Phone: <span class="text-dark fw-semibold">(000) 123 456 789</span></p> -->

          <!-- playstore and app store link image  -->
          <!-- <div class="d-flex">
            <a href="#"><img src="../assets/images/svg/appstore.svg" alt="" class="img-fluid"></a>
            <a href="#" class="ms-2"><img src="../assets/images/svg/playstore.svg" alt="" class="img-fluid"></a>
          </div> -->

        </div>
      </div>
    </div>
    <div class="row align-items-center g-0 border-top py-2 mt-6">
      <!-- Desc -->
      <div class="col-md-10 col-12">
        <div class="d-lg-flex align-items-center">
          <div class="me-4">
            <span>© <span id="copyright5">
                <!-- <script>document.getElementById('copyright5').appendChild(document.createTextNode(new Date().getFullYear()))</script> -->
                 2025
              </span> infoXodia</span>
          </div>
          <div>
            <nav class="nav nav-footer">
              <a class="nav-link ps-0" href="#">Privacy Policy</a>
              <a class="nav-link px-2 px-md-3" href="#">Disclaimer</a>
              <!-- <a class="nav-link d-none d-lg-block" href="#">Do Not Sell My Personal Information </a> -->
              <a class="nav-link" href="#">Terms and Conditions</a>
            </nav>
          </div>
        </div>
      </div>

      <!--Other Links Start -->
      <!-- <div class="col-12  col-md-2 d-md-flex justify-content-end">
        <div class="dropdown">
          <a href="#" class="dropdown-toggle text-body" id="dropdownMenuLink" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="fe fe-globe me-2 align-middle"></i>Others
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item " href="#"><span class="me-2">
                </span>English</a></li>
            <li><a class="dropdown-item " href="#"><span class="me-2">
                </span>Français</a></li>
            <li>
              <a class="dropdown-item " href="#"><span class="me-2">
                </span>Deutsch</a>
            </li>
          </ul>
        </div>
      </div> -->
      <!-- Other links end  -->
    </div>
  </div>
</footer>