<!-- This is the notification post scrolling in the top of website  -->
<div class="alert alert-primary alert-dismissible fade show custom-title-scroller" role="alert">
    <div>
      
        <marquee> 
            <span class="quiz-scroll-title" ng-click="openScrollTitlePost()">Ratha Yatra Knowledge - Top 10 Quiz ! -- </span>
            <span class="quiz-scroll-title">Know About Odisha - Explore the Culture !</span>
        </marquee>
        
        
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>