<div ng-controller="contactUsController">
<nav-bar></nav-bar>
<div class="container">
    <div class="row align-items-md-center mb-5">
        <div class="col-md-12">
            <div class="lc-block text-center">
                <!-- <span editable="inline" class="small mt-4 d-block">LOREM IPSUM</span> -->
                <h2 editable="inline" class="display-2 mb-0"><b>About infoXodia</b></h2>
                <p editable="inline"> infoXodia is a website which brings content and technology
                    tools <br> to showcase our culture and educating our people.
                </p>
            </div><!-- /lc-block -->
        </div><!-- /col -->
    </div>
    <div class="row align-items-md-center mb-5">
        <div class="col-lg-6 pr-5">
            <div class="lc-block py-2">
                <span class="badge bg-dark" editable="inline">KEY INFORMATION</span>
            </div>
            <div class="lc-block mb-4">
                <h2 editable="inline">Our mission is to bring the essence of Odisha to everyone</h2>
            </div>
            <div class="lc-block">


                <div class="row">
                    <div class="col-6">
                        <div class="lc-block mb-4">
                            <p editable="inline" class=" m-0" style="font-size:40px;">2+</p>
                            <p editable="inline" class="small text-uppercase">Websites</p>
                        </div><!-- /lc-block -->
                    </div>
                    <div class="col-6">
                        <div class="lc-block mb-4">
                            <p editable="inline" class=" m-0" style="font-size:40px;">5+</p>
                            <p editable="inline" class="small text-uppercase">Team Members</p>
                        </div>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-6">
                        <div class="lc-block mb-4">
                            <p editable="inline" class=" m-0" style="font-size:40px;">33+</p>
                            <p editable="inline" class="small text-uppercase">Events over the world</p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="lc-block mb-4">
                            <p editable="inline" class=" m-0" style="font-size:40px;">4800+</p>
                            <p editable="inline" class="small text-uppercase">Members</p>
                        </div>
                    </div>
                </div> -->
            </div>
            <div class="lc-block text-muted">
                <div editable="rich">
                    <p>At infoXodia, we are passionate about showcasing the timeless beauty of Odia traditions,
                        festivals, art, culture, language, and history of Odisha.
                    </p>
                    <h3>We believe in --</h3>
                    <div class="lc-block d-sm-flex align-items-center overflow-hidden position-relative">
                        <div class="d-inline-flex">
                            <div>
                                <i class="bi bi-1-circle fs-4 text-success"></i>
                            </div>
        
                            <div class="ms-3 align-self-center custom-pointer" editable="rich">
                                <p>Connecting our odia generations</p>
                            </div>
                        </div>
                    </div>
                    <div class="lc-block d-sm-flex align-items-center">
                        <div class="d-inline-flex">
                            <div>
                                <i class="bi bi-2-circle fs-4 text-success"></i>
                            </div>
        
                            <div class="ms-3 align-self-center custom-pointer" editable="rich">
                                <p>Empoweing odia people through knowledge</p>
                            </div>
                        </div>
                    </div>
                    <div class="lc-block d-sm-flex align-items-center">
                        <div class="d-inline-flex">
                            <div>
                                <i class="bi bi-3-circle fs-4 text-success"></i>
                                
                            </div>
        
                            <div class="ms-3 align-self-center custom-pointer" editable="rich">
                                <p>Celebrating diversity of Odisha</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /lc-block -->
        </div>
        <div class="col-sm-6 col-lg-3 ">
            <div class="lc-block mb-4">
                <div class="card shadow-sm border-light">
                    <img src="https://res.cloudinary.com/ddlvbiaan/image/upload/v1738233512/temp-image-this.webp"
                        alt="infoxodia culture image" class="card-img-top" loading="lazy">
                    <div class="card-body">
                        <h3 class="card-title" editable="inline">Culture</h3>
                        <!-- <h4 class="card-subtitle" editable="inline">Card subtitle</h4> -->
                        <p class="card-text" editable="inline">Explore the culture and tradition of odisha
                        </p>
                    </div>
                </div>
            </div>
            <div class="lc-block">
                <div class="card shadow-sm border-light">
                    <img src="../../assets/svg/ixo-education.svg"
                        alt="ixo education image" class="card-img-top" loading="lazy">
                    <div class="card-body">
                        <h3 class="card-title" editable="inline">Education</h3>
                        <!-- <h4 class="card-subtitle" editable="inline">Card subtitle</h4> -->
                        <p class="card-text" editable="inline">Get access to IXO's amazing content liabrary
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3 mt-4 mt-sm-0 align-self-center">
            <div class="lc-block">
                <div class="card shadow-sm border-light">
                    <img src="https://res.cloudinary.com/ddlvbiaan/image/upload/v1738236964/temp11654692689724986377lord-jagannath.jpg%20infoxodia.webp"
                        alt="lord jagannth image ixo" class="card-img-top" loading="lazy">
                    <div class="card-body">
                        <h3 class="card-title" editable="inline">Inspiration</h3>
                        <!-- <h4 class="card-subtitle" editable="inline">Card subtitle</h4> -->
                        <p class="card-text" editable="inline">Lord Jagannath and Odia people, our inspiration and strength
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <section class="bg-light py-6">
        <div class="container py-4">

            <div class="row">
                <div class="col-md-6 offset-md-3 mb-2">
                    <div class="lc-block text-center">
                        <h2 editable="inline" class="mb-3 display-5 fw-bold">What is our Mission ?</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="lc-block mb-4 d-flex justify-content-center">
                    <div class="position-relative mt-5">
                        <img alt="" class="rounded-circle"
                            src="https://images.unsplash.com/photo-1569779213435-ba3167dde7cc?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=800&amp;q=80"
                            loading="lazy" width="128" height="128" lc-helper="image">

                        <div class="lc-block position-absolute top-0 start-100 ms-5 translate-middle ">
                            <svg xmlns="http://www.w3.org/2000/svg" width="7em" height="7em" fill="currentColor"
                                viewBox="0 0 16 16" lc-helper="svg-icon" class="text-body">
                                <path
                                    d="M16 8c0 3.866-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7zM7.194 6.766a1.688 1.688 0 0 0-.227-.272 1.467 1.467 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 5.734 6C4.776 6 4 6.746 4 7.667c0 .92.776 1.666 1.734 1.666.343 0 .662-.095.931-.26-.137.389-.39.804-.81 1.22a.405.405 0 0 0 .011.59c.173.16.447.155.614-.01 1.334-1.329 1.37-2.758.941-3.706a2.461 2.461 0 0 0-.227-.4zM11 9.073c-.136.389-.39.804-.81 1.22a.405.405 0 0 0 .012.59c.172.16.446.155.613-.01 1.334-1.329 1.37-2.758.942-3.706a2.466 2.466 0 0 0-.228-.4 1.686 1.686 0 0 0-.227-.273 1.466 1.466 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 10.07 6c-.957 0-1.734.746-1.734 1.667 0 .92.777 1.666 1.734 1.666.343 0 .662-.095.931-.26z">
                                </path>
                            </svg>
                        </div>



                    </div>
                </div>

                <div class="col-md-6 offset-md-3">

                    <div class="lc-block text-center">
                        <div editable="rich">
                            <p class="text-muted lead">infoXodia is dedicated to celebrate and promote Odisha's rich heritage, art, culture, and language. 
                                We aim to showcase Odisha's unique culture globally through engaging content, 
                                interactive quizzes and with so other options.</p>
                        </div>

                        <div editable="rich">
                            <h5><strong> Eddie Valiant</strong></h5>
                        </div>

                        <small editable="inline" class="text-secondary" style="letter-spacing:1px">CEO of Acme Inc.
                        </small>
                    </div><!-- /lc-block -->
                </div><!-- /col -->
            </div>
        </div>
    </section>

    <!-- footer bar  -->
    <footer-bar></footer-bar>
</div>