<div ng-controller="contactUsController">
	<nav-bar></nav-bar>
  
	<!-- contact info start -->
    <div class="mb-4 py-4" style="background:url(../../assets/svg/WorldMap.svg); background-size: auto; background-position: center center; background-repeat: no-repeat;">
		<div class="container text-center py-6">
			<div class="row">
				<div class="col-lg-6 col-xl-5 mx-auto">
					<div class="lc-block mb-3">
						<div editable="rich">
							<h1>Be In Touch With Us :)</h1>
						</div>
					</div><!-- /lc-block -->
					<div class="lc-block mb-5">
						<div editable="rich">
							<p class="lead">Let's make Odisha proud together. Join us on our exciting journey to build infoXodia! 🌟🕺</p>
						</div>
					</div><!-- /lc-block -->
					<div class="lc-block">
						<div class="fs-1 mt-4">
							<!--Facebook-->
							<a href="#" class="me-2">
							  <i class="bi bi-facebook"></i>
							</a>
							<!--Instagram Thread-->
							<a href="#" class="me-2">
							  <i class="bi bi-instagram"></i>
							</a>
			  
							<!--Instagram-->
							<a href="#" class="me-2">
							  <i class="bi bi-threads-fill"></i>
							</a>
			  
							<!--Twitter X-->
							<a href="#" class="me-2">
							  <i class="bi bi-twitter-x"></i>
							</a>
						  </div>
					</div><!-- /lc-block -->
				</div>
				<!-- /column -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container -->
	</div>
	<!-- contact info end -->
	 
	  

<!-- contact form start -->
<!-- <section class="bg-light">
	<div class="container pb-4">
		<div class="p-5 lc-block">
			<div class="lc-block">
				<div editable="rich">
					<h2 class="fw-bolder display-3">Get in touch.
					</h2>
				</div>
			</div>
			<div class="lc-block col-md-8">
				<div editable="rich">
					<p class="lead">Duis non neque vel purus porttitor eleifend sit amet placerat quam. Etiam rhoncus libero vitae enim ullamcorper.


					</p>
				</div>
			</div>

		</div>
		<div class="p-5 lc-block shadow rounded-3 col-xl-10 offset-xl-1">

			<form>

				<div class="form-group mb-4">
					<label>Your Name (optional)</label>
					<input name="mouseglue" type="text" class="form-control" placeholder="John Doe" value="" autocomplete="off" hidden="">
					<input name="name" type="text" class="form-control" placeholder="John Doe" value="">
				</div>

				<div class="form-group mb-4">
					<label>Your Email Address</label>
					<input name="email" type="email" class="form-control" placeholder="name@example.com" value="">
				</div>

				<div class="form-group mb-4">
					<label>Subject (optional)</label>
					<input name="subject" type="text" class="form-control" placeholder="Contact Subject">
				</div>

				<div class="form-group mb-4">
					<label>Your Message</label>
					<textarea name="message" class="form-control" rows="3" maxlength="300"></textarea>
				</div>

				<button type="submit" class="btn btn-primary btn-lg">Submit Form</button>

				
			</form>
		</div>
	</div>
</section> -->
<!-- contact form end -->

<!-- card information start  -->
<div class=" container">
	<div class="row g-0 bg-light rounded-3 border-top">
		<div class="col-lg-6 position-relative">
			<div class="d-none d-xl-block position-absolute top-100 start-0 translate-middle" style="width:128px;height:128px;background-size: 16px 16px;background-image: radial-gradient(var(--bs-purple) 2px,transparent 2.5px);z-index:-1"></div>
			<img class="img-fluid rounded h-100 w-100" src="../../assets/svg/contact-us.svg" srcset="" sizes="" width="900" height="" alt="Photo by Austin Distel" style="object-fit:cover;" loading="lazy">
		</div>
		<div class="col-lg-6 align-self-center">
			<div class="p-5 lc-block rounded-3 offset-xl-1">
				<form>
					<div class="form-group mb-3">
						<label>Your Name</label>
						<input name="mouseglue" type="text" class="form-control" placeholder="John Doe" value="" autocomplete="off" hidden="">
						<input name="name" type="text" class="form-control" placeholder="John Doe" value="">
					</div>
	
					<div class="form-group mb-3">
						<label>Your Email Address</label>
						<input name="email" type="email" class="form-control" placeholder="name@example.com" value="">
					</div>
	
					<div class="form-group mb-3">
						<label>Subject (optional)</label>
						<input name="subject" type="text" class="form-control" placeholder="Contact Subject">
					</div>
	
					<div class="form-group mb-3">
						<label>Your Message</label>
						<textarea name="message" class="form-control" rows="3" maxlength="300"></textarea>
					</div>
	
					<button type="submit" class="btn btn-primary btn-lg">Submit Form</button>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- card information end  -->
 
 
<!-- footer bar  -->
<footer-bar></footer-bar>
  
</div>