<div ng-controller="ixoquizController">
    <nav-bar></nav-bar>
    <scroll-txt></scroll-txt>
    <section class="py-md-8 py-6"
        style="background-image: url(../../assets/svg/background-glow.svg); background-repeat: no-repeat; background-size: contain">

        <div class="container text-center py-4 py-md-6">
            <div class="lc-block card border-0 text-center rounded p-4 p-lg-6"
                style="background:url(../../assets/svg/perspective-box.svg)  center / cover no-repeat;">
                <div class="row card-body mb-3 mb-lg-4">
                    <div class="col-xl-11 col-xxl-9 mx-auto">
                        <div class="lc-block mb-4">
                            <div editable="rich">
                                <p class="">Welcome to ixoQuiz</p>
                            </div>
                        </div>
                        <div class="lc-block">
                            <h3 editable="inline" class="fw-bold display-6">Welcome to <span
                                    class="lc-block position-relative">ixoQuiz <img
                                        class="position-absolute top-100 start-0 mt-n1 img-fluid"
                                        src="../../assets/svg/underline2.svg"></span>, sharpen your knowledge. <br>
                                        Become a knowledgeable Person.</h3>
                        </div>
                    </div>
                </div>
                <!-- <div class="lc-block"><a class="btn btn-primary btn-lg" href="#" role="button">Get Started</a></div> -->
            </div>
        </div>
    </section>

    <!-- continer body start  -->
    <div class="container">

        <!-- category card carousel start -->
        <div class="container">
            <div>
                <div class="d-flex justify-content-center">
                    <h2 class="">-: Categories :-</h2>
                </div>
            </div>
        </div>

        <div id="carouselExampleControls" class="carousel slide d-flex align-item-center justify-content-center" data-bs-ride="carousel">
            <div class="row row-cols-1 row-cols-xl-2 carousel-inner">
                <div class="col carousel-item active">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="https://res.cloudinary.com/ddlvbiaan/image/upload/v1738257138/ixo-post-sample-infoxodia.webp" class="img-fluid rounded-start" alt="this alt">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">- Festivals</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to
                                        additional content. This content is a little bit longer.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col carousel-item">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="https://res.cloudinary.com/ddlvbiaan/image/upload/v1738257138/ixo-post-sample-infoxodia.webp" class="img-fluid rounded-start" alt="this is alt">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">- Odisha History</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to
                                        additional content. This content is a little bit longer.</p>
                                    <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <!-- <span class="carousel-control-prev-icon primary" aria-hidden="true"></span> -->
                <i class="bi bi-arrow-left-circle-fill text-primary fs-1"></i>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <!-- <span class="carousel-control-next-icon primary" aria-hidden="true"></span> -->
                <i class="bi bi-arrow-right-circle-fill text-primary fs-1"></i>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <!-- category card carousel end -->



        <!-- Recent post list start-->
        <div class="container py-2">
            <div class="row mb-4">
                <div class="col-12">
                    <div class="lc-block">
                        <div>
                            <h2 class="">Recent Posts</h2>
                            Check-out ixoQuiz's recent amazing posts
                        </div>
                    </div>
                </div>
            </div>
            <!-- Posts -->
            <div class="row row-cols-2 row-cols-lg-2 g-4 g-xxl-5"><style>
                    .border_restaurant {border-bottom: dashed var(--bs-body-color)} 
                </style>
                <!-- Recent post in repeat from controller  -->
                <div class="col" ng-repeat="post in ixoRecentPosts">
                    <!-- Post card start  -->
                    <div class="d-grid gap-2 d-sm-flex gap-xl-4">
                        <div class="d-flex lc-block d-sm-block flex-shrink-0 col-sm-3">
                            <img class="rounded w-100 food_images img-fluid" ng-click="openPost($index)" ng-src="{{post.documents[0].docUrl}}" alt="{{post.documents[0].docName}}" width="96" height="96">
                        </div>
                        <div class="lc-block w-100">
                            <div class="d-flex gap-2 align-items-baseline">
                                <div>
                                    <a href="{{quizAppPath}}/{{post.subCategoryUrl}}"> <p class="fw-bold h5">{{post.subCategory.name}}</p> </a>
                                </div>
                                <div class="flex-grow-1 border_restaurant opacity-25"></div>
                                <div>
                                    <p>{{post.createdOn}}</p>
                                </div>
                            </div>
                            <div class="lc-block opacity-50">
                                   <a href="{{quizAppPath}}/{{post.subCategoryUrl}}/{{post.postUrl}}"> <span>{{post.title}}</span></a>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
         
         
          
        <!-- Recent post list end-->
    </div>
    <!-- continer body end  -->

    <footer-bar></footer-bar>
</div>