<div ng-controller="postController">
	<nav-bar></nav-bar>
	<scroll-txt></scroll-txt>

	<div class="container-fluid">
		<div class="row">
			<!-- left side bar start -->
			<quiz-left-sidebar class="col-lg-3 my-4 d-none d-lg-block side-div"></quiz-left-sidebar>
			<!-- left side bar start -->

			<!-- Blog Details Section -->
			<div class="col-lg-6">
				<section id="blog-details" class="blog-details section my-4">
					<div id="content">

						<article class="article">

							<div class="post-img">
								<img ng-src="{{postQuiz.documents[0].docUrl}}" alt="{{postQuiz.documents[0].docName}}" class="img-fluid">
							</div>

							<h2 class="title" id="h2heading">
								{{postQuiz.title}}
							</h2>

							<div class="meta-top">
								<ul>
									<li class="d-flex align-items-center"><i class="bi bi-person"></i> <a
											href="blog-details.html">{{postQuiz.createdBy}}</a></li>
									<li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a
											href="blog-details.html"><time datetime="2020-01-01">{{postQuiz.createdOn}}</time></a>
									</li>
									<li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a
											href="blog-details.html">12 Comments</a></li>
								</ul>
							</div><!-- End meta top -->

							<div class="content meta-bottom">
								<h1 id="h1heading1">h1 heading here</h1>
								<div class="quiz-container mb-3">
									<div class="row">
										<!-- dynamic  -->
										<div class="col-12 p-3 mb-3 custom-shadow rounded"
											ng-repeat="quizItem in quizes">
											<h3 id="h3heading4{{$index}}" class="fw-bold mt-3">{{$index + 1}} -
												{{quizItem.question}}</h3>
											<div id="quiz-options" ng-class="{'column-layout': isColumnLayout}">
												<div class="row">
													<div class="col-6 option-item"
														ng-repeat="optionKey in [1, 2, 3, 4]">
														<input type="radio" name="box{{$index}}"
															id="option{{$index}}{{$parent.$index}}" class="option-radio"
															ng-model="selectedOptions[$parent.$index]"
															ng-value="'option_' + optionKey"
															ng-change="checkAnswer(quizItem, optionKey, $parent.$index)">
														<label for="option{{$index}}{{$parent.$index}}"
															class="box w-100 option-label-failure" ng-class="{'option-label-success': isAnsCorrect}">
															<div class="quizcard-option"> <span class="circle"></span>
																<span
																	class="subject">{{quizItem.quizOptions['option_'
																	+ optionKey]}}</span> </div>
														</label>
													</div>
												</div>
											</div>
											<!-- answer dropdown  -->
											<div>
												<div class="col pt-2 d-flex flex-column justify-content-center">
													<div class="accordion accordion-flush" id="accordionFlushMyFAQ1">
														<div class="lc-block accordion-item">
														
															<a editable="inline"
																class="fw-bold collapsed icon-link icon-link-hover"
																href="#" data-bs-toggle="collapse"
																data-bs-target="#flush-collapseOne{{$index}}"
																aria-expanded="false" aria-controls="flush-collapseOne">
																Show Description
																<!-- <i class="bi bi-arrow-bar-down"></i> -->
															</a>
														
															<div id="flush-collapseOne{{$index}}"
																class="accordion-collapse collapse"
																aria-labelledby="flush-headingOne"
																data-bs-parent="#accordionFlushMyFAQ1">
																<div class="accordion-body" editable="rich">
																	{{quizItem.ansDescription}}
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>


									</div>
								</div>
							</div><!-- End post content -->

							<div class="meta-bottom">
								<i class="bi bi-folder"></i>
								<ul class="cats">
									<li><a href="#">Business</a></li>
								</ul>

								<i class="bi bi-tags"></i>
								<ul class="tags">
									<li><a href="#">Creative</a></li>
									<li><a href="#">Tips</a></li>
									<li><a href="#">Marketing</a></li>
								</ul>
							</div><!-- End meta bottom -->

						</article>

					</div>
				</section><!-- /Blog Details Section -->

				<!-- Comment Form Section -->
				<section id="comment-form" class="comment-form section">
					<div>

						<form action="">

							<h4>Post Comment</h4>
							<p>Your email address will not be published. Required fields are marked * </p>
							<div class="row">
								<div class="col-md-6 form-group">
									<input name="name" type="text" class="form-control" placeholder="Your Name*">
								</div>
								<div class="col-md-6 form-group">
									<input name="email" type="text" class="form-control" placeholder="Your Email*">
								</div>
							</div>
							<div class="row">
								<div class="col form-group">
									<input name="website" type="text" class="form-control" placeholder="Your Website">
								</div>
							</div>
							<div class="row">
								<div class="col form-group">
									<textarea name="comment" class="form-control"
										placeholder="Your Comment*"></textarea>
								</div>
							</div>

							<div class="text-center">
								<button type="submit" class="btn btn-primary">Post Comment</button>
							</div>

						</form>

					</div>
				</section><!-- /Comment Form Section -->
			</div>

			<div class="col-lg-3">
				<div class="my-4">

					<!-- Blog Author Widget -->
					<div class="blog-author-widget widget-item">

						<div class="d-flex flex-column align-items-center">
							<div class="d-flex align-items-center w-100">
								<img src="assets/img/blog/blog-author.jpg" class="rounded-circle flex-shrink-0"
									alt="alt">
								<div>
									<h4>Jane Smith</h4>
									<div class="social-links">
										<a href="https://x.com/#"><i class="bi bi-twitter-x"></i></a>
										<a href="https://facebook.com/#"><i class="bi bi-facebook"></i></a>
										<a href="https://instagram.com/#"><i class="biu bi-instagram"></i></a>
										<a href="https://instagram.com/#"><i class="biu bi-linkedin"></i></a>
									</div>
								</div>
							</div>

							<p>
								Itaque quidem optio quia voluptatibus dolorem dolor. Modi eum sed possimus accusantium.
								Quas repellat voluptatem officia numquam sint aspernatur voluptas. Esse et accusantium
								ut unde voluptas.
							</p>

						</div>

					</div><!--/Blog Author Widget -->

					<!-- Recent Posts Widget -->
					<div class="recent-posts-widget widget-item">

						<h3 class="widget-title">Recent Posts</h3>

						<div class="post-item">
							<img src="assets/img/blog/blog-recent-1.jpg" alt="" class="flex-shrink-0">
							<div>
								<h4><a href="blog-details.html">Nihil blanditiis at in nihil autem</a></h4>
								<time datetime="2020-01-01">Jan 1, 2020</time>
							</div>
						</div><!-- End recent post item-->

						<div class="post-item">
							<img src="assets/img/blog/blog-recent-2.jpg" alt="" class="flex-shrink-0">
							<div>
								<h4><a href="blog-details.html">Quidem autem et impedit</a></h4>
								<time datetime="2020-01-01">Jan 1, 2020</time>
							</div>
						</div><!-- End recent post item-->

						<div class="post-item">
							<img src="assets/img/blog/blog-recent-3.jpg" alt="" class="flex-shrink-0">
							<div>
								<h4><a href="blog-details.html">Id quia et et ut maxime similique occaecati ut</a></h4>
								<time datetime="2020-01-01">Jan 1, 2020</time>
							</div>
						</div><!-- End recent post item-->

						<div class="post-item">
							<img src="assets/img/blog/blog-recent-4.jpg" alt="" class="flex-shrink-0">
							<div>
								<h4><a href="blog-details.html">Laborum corporis quo dara net para</a></h4>
								<time datetime="2020-01-01">Jan 1, 2020</time>
							</div>
						</div><!-- End recent post item-->

						<div class="post-item">
							<img src="assets/img/blog/blog-recent-5.jpg" alt="" class="flex-shrink-0">
							<div>
								<h4><a href="blog-details.html">Et dolores corrupti quae illo quod dolor</a></h4>
								<time datetime="2020-01-01">Jan 1, 2020</time>
							</div>
						</div><!-- End recent post item-->

					</div><!--/Recent Posts Widget -->

					<!-- Tags Widget -->
					<div class="tags-widget widget-item">

						<h3 class="widget-title">Tags</h3>
						<ul>
							<li><a href="#">App</a></li>
							<li><a href="#">IT</a></li>
							<li><a href="#">Business</a></li>
							<li><a href="#">Mac</a></li>
							<li><a href="#">Design</a></li>
							<li><a href="#">Office</a></li>
							<li><a href="#">Creative</a></li>
							<li><a href="#">Studio</a></li>
							<li><a href="#">Smart</a></li>
							<li><a href="#">Tips</a></li>
							<li><a href="#">Marketing</a></li>
						</ul>

					</div><!--/Tags Widget -->

				</div>
			</div>
		</div>

		<!-- Offcanvas for small screens -->
		<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample"
			aria-labelledby="offcanvasExampleLabel">
			<div class="offcanvas-header">
				<h5 class="offcanvas-title" id="offcanvasExampleLabel">Side Menu</h5>
				<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
					aria-label="Close"></button>
			</div>
			<div class="offcanvas-body" id="offcanvasBody">
				<ul>
					<li ng-repeat="heading in headings" data-bs-dismiss="offcanvas">
						<a href="" ng-click="scrollToHeading(heading.id)">{{heading.text}}</a>
					</li>
				</ul>
			</div>
		</div>

		<!-- Floating Button (Only visible on small screens) -->
		<button class="btn btn-primary d-lg-none position-fixed top-0 start-0 my-5 mx-1" type="button"
			data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
			<!-- Hamburger Icon (Font Awesome) -->
			<i class="bi bi-card-list"></i>
		</button>
	</div>
</div>
</div>